#h1_glavni_naslov{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(232, 183, 21);
    
}

.menu{
    display: flex;
    justify-content: center;
}

.opisniBlok{
    background-color: grey;
    height: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.lokacija_i_zakazivanje{
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

.lokacija{
    display: flex;
    justify-content: left;
}

.zakazivanje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.footer{
    margin-top: 30px;
    display: flex;
    background-color: grey;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
}
.footerTekst{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.copyright{
    display: flex;
    justify-content:center;
}

